.gameTypeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gameTypeButton {
  margin: 5px;
  padding: 10px 20px;
  background-color: #bbb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.gameTypeButton:hover {
  background-color: rgb(255, 255, 240);
  color: black;
  transform: scale(1.05);
}